@import "tailwindcss";

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-gray-900;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-base;
}

h6 {
  @apply text-sm;
}

input,
select,
textarea {
  @apply bg-gray-100 rounded-md p-3 w-full;
}

select {
  @apply appearance-none bg-[url('./assets/downArrow.svg')] bg-no-repeat bg-position-[center_right_0.5rem] pr-6;
}
