@import "tailwindcss";

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-medium text-[#333333];
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-base;
}

h6 {
  @apply text-sm;
}

p,
span,
label {
  @apply text-white;
}

a,
button {
  @apply focus:outline-none focus:ring-1 focus:ring-white/50;
}

input,
select,
textarea {
  @apply rounded-md p-3 w-full bg-transparent border border-white/20 placeholder:text-white/50 focus:outline-none focus:ring-1 focus:ring-white/50;
}

select {
  @apply appearance-none bg-[url('./assets/downArrow.svg')] bg-no-repeat bg-position-[center_right_0.5rem] pr-6;
}

tr {
  @apply text-[#333333] hover:bg-white/20;
}
